<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>FooterText</key>
                <string>这里是底部描述</string>
                <key>Title</key>
                <string>Sound</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>paly_sound_enabled_preference</string>
                <key>Title</key>
                <string>Play Sound</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>3d_sound_enabled_preference</string>
                <key>Title</key>
                <string>3D Sound</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>User Info</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Key</key>
                <string>experience_level_preference</string>
                <key>DefaultValue</key>
                <string>0</string>
                <key>Title</key>
                <string>Experience Level</string>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Titles</key>
                <array>
                    <string>Beginner</string>
                    <string>Expert</string>
                    <string>Master</string>
                </array>
                <key>Values</key>
                <array>
                    <string>0</string>
                    <string>1</string>
                    <string>2</string>
                </array>
            </dict>
            <dict>
                <key>Key</key>
                <string>None</string>
                <key>AutocorrectionType</key>
                <string>No</string>
                <key>DefaultValue</key>
                <string></string>
                <key>IsSecure</key>
                <false/>
                <key>Title</key>
                <string>Name</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Gravity</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <real>0.5</real>
                <key>Key</key>
                <string>slider_preference</string>
                <key>MaximumValue</key>
                <integer>1</integer>
                <key>MaximumValueImage</key>
                <string></string>
                <key>MinimumValue</key>
                <integer>0</integer>
                <key>MinimumValueImage</key>
                <string></string>
                <key>Type</key>
                <string>PSSliderSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>File</key>
                <string>UserInfo</string>
                <key>Title</key>
                <string>UserInfo</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
